<div class="header">
  <span class="logoItem">
    <img src="../.././assets/images/logo.png">
  </span>
  <div class="listnavigation">
      <ul class="nav nav-pills">
          <li role="presentation"><a  href="javascript:void(0)" >Home</a></li>
          <li role="presentation"><a  href="javascript:void(0)" >About</a></li>
          <li role="presentation"><a  href="javascript:void(0)" >Contact</a></li>
          <li role="presentation" *ngIf="!Services.isLoggedIn()"><a href="login" class="active">Login</a></li>
          <li role="presentation" *ngIf="Services.isLoggedIn()"><a  class="active">ENQUIRE</a></li>    
        </ul>
  </div>
</div>
