
<!-- <app-add-edit-user *ngIf="true"></app-add-edit-user> -->
<div class="secondHeader">
  <div class="breadCrum">
     <span>Home / Dashboard</span>
     <h2>Users List</h2>
  </div>
  <button class="btn newUser">New User</button>  
</div>
<div class="container"> 
  <div class="col-xs-12">
      <div class="listUsers" *ngIf="allUsers.length>0">
          <div class="item" *ngFor="let user of allUsers; let i = index">
            <div class="AvatarImg"><img [src]="user.avatar"></div>
            <div class="Name"><h3>{{user.first_name}} {{user.last_name}}</h3></div>
            <div class="managementBtns">
             <span class="arrow"></span>
             <span class="box"><img src="../../../assets/images/icons-delete.png"></span>
             <span class="box"><img src="../../../assets/images/icons-edit.png"></span>
            </div>
          </div>
          <div class="LoadMore" *ngIf="pageNumber<totalusers">
              <span class="loadIcon"><img src="../../../assets/images/icons-spinner.png"></span>     
              <span (click)="loadMore()">Loading more users</span>         
          </div>
      </div>
  </div>
</div>


