.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #dedede;
    color:#34495e;
    text-align: center;
    min-height: 140px
 }
 .footer p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
 }

 